{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zak's Works</title>
    <link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

	<br>
	<div class="container">
		
			<div class="col-md-15">
				<div class="card card-body h-100  border-info">
					<h4>Master Thesis with my University and BlackRock</h4>
					<hr>
					
                    <p>Using Deep Reinforcement Learning in Optimum Order Execution (a 
                        problem in Finance). Secured Grade = 1</p>
                    <p>Under the supervision of the Department of Liquidity Research, BlackRock, New York City
                        led by Mr. Stefano Pasquali, and Pattern Recognition Lab (Erlangen) led by Prof. Andreas 
                        Maier</p>
                    <p>Tools Used: Python, Actor-Critic Reinforcement Learning, LSTMs, ANNs, Data Science and 
                        Wrangling, REST APIs, Git, Bash Scripting, GPUs and CUDA</p>

                        <ul>
                            <li>Generated entire Financial Models for 22 different stocks (Large, Mid and Small Capitals) and 2 
                                ETFs in different market conditions including stressful markets (War, inflation, Covid)</li>
                            <li>Better performances than other models including in stressful markets for intraday trading</li>
                            <li>Implementation of both Return and Risk in performance metric</li>
                            <li>Example: DRL Models generated $250,000 more than other models on a day for Apple in Oct 2021</li>
                        </ul>                    
				</div>
			</div>
		
            
		<br>
	</div>


    <br>
	<div class="container">
		
			<div class="col-md-15">
				<div class="card card-body h-100  border-info">
					<h4>Working Student, Siemens Healthineers</h4>
					<hr>

                    <ul>
                        <li>Program Algorithms for automatic analysis of dissimilarities and anomalies from a large dataset</li>
                        <li>Program algorithms for automatic comparisons of multiple large datasets </li>
                        <li>Application of Data Science, Data Analysis and Core Programming</li>
                        <li>Helped analyzing dissimilarities/errors for Siemens MRI users globally in a user-friendly way</li>
                    </ul>    
					           
				</div>
			</div>
		
            
		<br>
	</div>

    <br>
	<div class="container">
		
			<div class="col-md-15">
				<div class="card card-body h-100  border-info">
					<h4>Research Assistant, Institute of Photonic Technologies</h4>
					<hr>
					
                        <ul>
                            <li>Data Analysis and Data Visualization with Plotly and Tableau</li>
                            <li>Deep Learning for Classification tasks</li>
                        </ul>                    
				</div>
			</div>
		<br>
	</div>

    <br>
	<div class="container">
		
			<div class="col-md-15">
				<div class="card card-body h-100  border-info">
					<h4>Building a voice assistant like Siri for Personal Computers with NLP</h4>
					<hr>
					
                        <ul>
                            <li>Helps ease many mundane tasks with voice commands</li>
                            <li>Finds similar sounding files/folders for wrong commands</li>
                            <li>Google search, Calendar reminder, etc. with commands</li>
                        </ul>                    
				</div>
			</div>
		<br>
	</div>
		
    <center> 
    <form>
        <input type="button" value="Go back!" onclick="history.back()">
    </form>
   </center>
    
</body>
</html>